<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Deleting the selected instace</h1>

    <h1>Are you sure to delete {{dso.Scname}}</h1>


     <form method="POST">
         {% csrf_token %}

      <input type="submit" value="yes_sure_delete">

     </form><br>


   <h2><a href="{% url 'SchoolList'%}">No-take-me-BackTo-List</a><br></h2> 
  <h2><a href="{% url 'detail' pk=dso.pk %}">No-take-me-BackTo-Deatil</a></h2>
  
</center>
</body>
</html>